// landing page styling
.landing-page {
    height: 850px;
    background-image: url(../assets/landing/home.jpg);
    @include cover-background;
    @include flex-center;

    .landing-page-wrapper {
        width: 708px;
        height: auto;
        background-color: $primary-color;
        border: 1px solid $tertiary-color;
        padding: 30px;
        font-family: $font-family_2;

        h1 {
            font-size: 54px;
            line-height: 68px;
            font-weight: 400;
        }

        p {
            line-height: 68px;
        }

        button {
            width: 112px;
            height: 40px;
            background-color: $tertiary-color;
            border: none;
            color: $primary-color;
            font-family: $font-family_2;
            font-size: 16px;
            cursor: pointer;

            &:hover {
                background-color: rgb(37, 37, 37);
            }
        }
    }
}

// about box styling
.about-box {
    height: auto;
    padding: 30px;
    background-color: $primary-color;
    font-family: $font-family_2;
    text-align: center;

    h1 {
        font-size: 45px;
        line-height: 53px;
        font-weight: 400;
    }

    p {
        line-height: 22px;
    }
}

// media queries
@media (min-width: $lg-breakpoint) {
    .landing-page-wrapper {
        position: absolute;
        left: 30px;
    }
}